<header class="w-screen bg-blue-900 shadow-md">
  <div class="flex items-center justify-between px-6 md:px-20 py-6">
    <h1 class="text-3xl md:text-4xl font-bold text-white tracking-wide">
      Biblioteca Virtual UPS
    </h1>
  </div>
</header>

<main class="bg-gray-100 min-h-screen text-gray-800 px-6 md:px-20 pt-10">
  <div class="flex flex-col md:flex-row gap-8 w-full">
    <section
      class="bg-white shadow-lg p-6 md:p-8 flex flex-col h-[825px] md:w-3/8 w-full"
    >
      <h2
        class="text-2xl md:text-3xl font-semibold mb-6 border-b-2 border-yellow-500 pb-3 text-center text-yellow-500 tracking-wide"
      >
        {{ libroId !== null ? "Editar libro" : "Agrega un libro" }}
      </h2>

      <div class="flex flex-col gap-4 flex-grow">
        <label for="titulo" class="font-semibold text-gray-700">Título:</label>
        <input
          id="titulo"
          class="rounded-md px-4 py-3 border border-gray-300 bg-gray-50 focus:border-yellow-500 focus:ring-yellow-300 text-gray-800"
          [(ngModel)]="libro.nombre"
          placeholder="Ingrese el nombre del libro"
        />

        <label for="autor" class="font-semibold text-gray-700">Autor:</label>
        <input
          id="autor"
          class="rounded-md px-4 py-3 border border-gray-300 bg-gray-50 focus:border-yellow-500 focus:ring-yellow-300 text-gray-800"
          [(ngModel)]="libro.autor"
          placeholder="Ingrese el autor del libro"
        />

        <label for="anio" class="font-semibold text-gray-700">Año:</label>
        <input
          id="anio"
          class="rounded-md px-4 py-3 border border-gray-300 bg-gray-50 focus:border-yellow-500 focus:ring-yellow-300 text-gray-800"
          [(ngModel)]="libro.anioPublicacion"
          placeholder="Ingrese el año de publicación"
        />

        <label for="image" class="font-semibold text-gray-700">Portada:</label>
        <input
          id="image"
          class="rounded-md px-4 py-3 border border-gray-300 bg-gray-50 focus:border-yellow-500 focus:ring-yellow-300 text-gray-800"
          [(ngModel)]="libro.imagenUrl"
          placeholder="Ingrese la Url de la imagen"
        />

        <label for="descripcion" class="font-semibold text-gray-700 mt-6"
          >Descripción:</label
        >
        <textarea
          id="descripcion"
          class="rounded-md px-4 py-3 border border-gray-300 bg-gray-50 focus:border-yellow-500 focus:ring-yellow-300 text-gray-800 resize-none h-32"
          [(ngModel)]="libro.descripcion"
          placeholder="Ingrese una breve descripción"
        ></textarea>
      </div>

      <div class="mt-8 flex gap-6 justify-center">
        <button
          class="bg-blue-700 hover:bg-blue-800 text-white font-semibold rounded-md px-8 py-3 shadow-blue-600 transition"
          (click)="libroId !== null ? actualizarLibro() : agregarLibro()"
        >
          {{ libroId !== null ? "Actualizar libro" : "Guardar libro" }}
        </button>
        <button
          *ngIf="libroId !== null"
          class="bg-red-700 hover:bg-red-800 text-white font-semibold rounded-md px-8 py-3 shadow-red-600 transition"
          (click)="cancelarEdicion()"
        >
          Cancelar edición
        </button>
      </div>
    </section>

    <!-- Tabla de libros -->
    <section
      class="bg-white shadow-lg p-6 md:p-8 flex flex-col md:w-5/8 w-full"
    >
      <div
        class="flex flex-col md:flex-row items-start md:items-center gap-4 mb-8"
      >
        <h2
          class="text-xl md:text-2xl font-bold border-b-2 border-yellow-500 pb-2 flex-grow text-yellow-500 tracking-wide"
        >
          Buscar Libro por Título
        </h2>
        <input
          [(ngModel)]="tituloBuscar"
          placeholder="Ingrese el título"
          class="w-full md:flex-grow rounded-md px-4 py-3 border border-gray-300 bg-gray-50 focus:border-yellow-500 focus:ring-yellow-300 text-gray-800"
        />
        <button
          (click)="buscarLibroPorTitulo(tituloBuscar)"
          class="mt-2 md:mt-0 bg-blue-700 hover:bg-blue-800 text-white font-semibold rounded-md px-6 py-3 shadow-blue-600 transition"
        >
          Buscar
        </button>
      </div>

      <div class="overflow-x-auto rounded-lg shadow-inner">
        <table
          *ngIf="libros.length > 0"
          class="w-full table-auto border-collapse rounded-lg overflow-hidden"
        >
          <thead class="bg-blue-900 text-white">
            <tr>
              <th class="px-4 md:px-6 py-3 text-left">Portada del libro</th>
              <th class="px-4 md:px-6 py-3 text-left">Título</th>
              <th class="px-4 md:px-6 py-3 text-left">Autor</th>
              <th class="px-4 md:px-6 py-3 text-left">Año</th>
              <th class="px-4 md:px-6 py-3 text-left">Descripción</th>
              <th class="px-4 md:px-6 py-3 text-left">Acciones</th>
            </tr>
          </thead>
          <tbody class="bg-gray-100 text-gray-900">
            <tr
              *ngFor="let libro of libros"
              class="border-b border-gray-300 hover:bg-blue-100 transition-colors"
            >
              <td>
                <img
                  *ngIf="libro.imagenUrl; else noImg"
                  [src]="libro.imagenUrl"
                  alt="{{ libro.nombre }}"
                  class="w-24 md:w-32 h-32 md:h-42 object-cover rounded-md border border-gray-300"
                />
                <ng-template #noImg>
                  <span class="italic text-gray-400">Sin imagen</span>
                </ng-template>
              </td>
              <td class="px-4 md:px-6 py-4 align-top font-semibold">
                {{ libro.nombre }}
              </td>
              <td class="px-4 md:px-6 py-4 align-top">{{ libro.autor }}</td>
              <td class="px-4 md:px-6 py-4 align-top">
                {{ libro.anioPublicacion }}
              </td>
              <td class="px-4 md:px-6 py-4 align-top">
                {{ libro.descripcion }}
              </td>
              <td
                class="px-4 md:px-6 py-4 align-top whitespace-nowrap flex flex-col gap-2"
              >
                <button
                  (click)="editarLibro(libro)"
                  class="bg-blue-700 hover:bg-blue-800 text-white rounded-md px-4 py-1 text-sm shadow-blue-600 transition"
                >
                  Editar
                </button>
                <button
                  (click)="eliminarLibro(libro.id)"
                  class="bg-red-700 hover:bg-red-800 text-white rounded-md px-4 py-1 text-sm shadow-red-600 transition"
                >
                  Eliminar
                </button>
              </td>
            </tr>
          </tbody>
        </table>

        <div
          *ngIf="libros.length === 0"
          class="text-center text-gray-500 mt-8 text-lg font-semibold"
        >
          No hay libros disponibles.
        </div>
      </div>
    </section>
  </div>
</main>
